<!DOCTYPE html>
{% extends './index.html' %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% load static %}
  <!-- Favicons -->
  <link href="{% static 'styling/business_home/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'styling/business_home/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'styling/business_home/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'styling/business_home/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'styling/business_home/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'styling/business_home/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'styling/business_home/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'styling/business_home/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'styling/business_home/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'styling/business_home/assets/css/style.css' %}" rel="stylesheet">

 
</head>

<body>

  <main id="main" class="main">
{% block main %}
    <div class="pagetitle">
      <h1>Reports</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Reports</li>
          <li class="breadcrumb-item active">General</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-12">
          <div class="card  overflow-auto">               

            <div class="card-body">
              <h5 class="card-title">Sales.</h5>
                          
                
                <form method="post" action="{% url 'from_to_query' %}">
                  {% csrf_token %}
                  <button class="btn btn-sm btn-outline-info"><a href="{% url 'today_query' %}">Today</a></button> 
                  <label>from</label>
                  <input type="date" name="from">  
                  <label>to</label>
                <input type="date" name="to">
                <button type="submit" class="btn btn-sm btn-outline-info">go</button>
                
                </form>

           
              <hr>
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product </th>
                    <th scope="col">quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">status</th>
                    <th scope="col">change status</th>
                  </tr>
                </thead>
                
                <tbody>
                  {% for s in sales %}
                  <tr>
                    <th scope="row"><a href="#">#</a></th>
                    <td>{{ s.product.name }}</td>
                    <td><a href="#" class="text-primary"> {{ s.quantity }}</a></td>
                    <td>kshs, {{ s.total_price }}</td>
                    <td class="text-info">{{ s.status }}</td>
                    <td>
                      <form action="{% url 'checked_out' s.pk %}">
                      <button class="btn btn-sm btn-outline-info">check out</button>
                    </form>
                    </td>
                  </tr>                                    
                  {% endfor %}
                  
                </tbody>
                
               
              </table>
              <hr>
              Total Sales: kshs, {{ total_price }}
              
            </div>

          </div>
        </div><!-- End Recent Sales -->

        <!-- Top Selling -->
        <div class="col-12">
          <div class="card top-selling overflow-auto">
            


            <div class="card-body pb-0">
              <h5 class="card-title">Scheduled Services <span>| Today</span></h5>
              <div class="card-title mb-2">               
                
                <form method="post" action="{% url 'from_to_schedule' %}">
                  {% csrf_token %}
                  <button class="btn btn-sm btn-outline-info vh-3 w-3" ><a href="{% url 'today_service' %}">Today</a></button> 
                  <label>from</label>
                  <input type="date" name="from">  
                  <label>to</label>
                <input type="date" name="to">
                <button type="submit" class="btn btn-sm btn-outline-info">go</button>
                </form>
                <hr>

              </div>

              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">service</th>
                    <th scope="col">time</th>
                   
                  </tr>
                </thead>
                <tbody>
                  {% for s in s_services %}
                  <tr>
                    <th scope="row">{{ s.service }}</th>
                    <th scope="row">{{ s.time }}</th>
                    
                  {% endfor %}
                  
                </tbody>
              </table>

            </div>

          </div>
        </div><!-- End Top Selling -->

      </div>

        
      </div>
    </section>
{% endblock main %}


  </main><!-- End #main -->

  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>